decorator==5.1.1
docker==7.1.0
duckduckgo_search==6.1.5
huggingface-hub==0.23.2
ipykernel==6.29.4
ipython==8.24.0
isort==5.13.2
jupyter_client==8.6.2
jupyter_core==5.7.2
langchain==0.2.5
langchain-community==0.2.5
langchain-core==0.2.7
langchain-experimental==0.0.61
langchain-openai==0.1.8
langchain-pinecone==0.1.1
langchain-text-splitters==0.2.0
langchainhub==0.1.17
langgraph==0.0.64
langsmith==0.1.77
MarkupSafe==2.1.5
marshmallow==3.21.2
matplotlib==3.9.0
matplotlib-inline==0.1.7
multidict==6.0.5
numpy==1.26.4
openai==1.30.3
openapi-python-generator==0.5.0
openapi-schema-pydantic==1.2.4
orjson==3.10.3
packaging==23.2
pandas==2.2.2
parso==0.8.4
pathspec==0.12.1
pillow==10.3.0
pinecone-client==3.2.2
pip==24.0
platformdirs==4.2.2
prompt_toolkit==3.0.45
pyautogen==0.2.31
pydantic==1.10.17
pydantic_core==2.18.2
Pygments==2.18.0
python-dotenv==1.0.1
regex==2024.5.15
requests==2.32.2
soupsieve==2.5
SQLAlchemy==2.0.30
tiktoken==0.7.0
tokenizers==0.19.1
tornado==6.4
tqdm==4.66.4
pyodbc==5.1.0
tabulate==0.9.0